*.o
*.out
*.a
*.swp
.DS_Store
.gitignore
.vscode/
debug
push_swap
a.exe
onepage_code.c
checker_linux_checker
/push_swap_tester
/push_swap_visualizer
err.log
checker_linux
push_swap_test_linux.sh
/Push-Swap-Tester
traces.txt
